# https://gist.github.com/Pfhreak/2947096
 
# NOTE: this will cause your collaborators to re-import assets periodically
Temp/*
Build/*
 
# ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb
*.userprefs

# os stuff
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
